<?xml version="1.0" encoding="utf-8"?>
<FeedBuildConfiguration>
    <FeedXML>C:\AppServer\SampleUpdateFeed.xml</FeedXML>    
    <OutputFolder>C:\AppServer</OutputFolder>
    <CleanUp>false</CleanUp>
    <BaseURL>http://127.0.0.1/SampleApp</BaseURL>
    <CompareHash>true</CompareHash>
    <CompareDate>false</CompareDate>
    <CompareSize>false</CompareSize>
    <CompareVersion>false</CompareVersion>
    <IncludeFileTypes>*.dll</IncludeFileTypes>
    <CopyFiles>false</CopyFiles>
    <AddExtension></AddExtension>
</FeedBuildConfiguration>